<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>imgur Auth</title>
    <link rel="stylesheet" type="text/css" href="/styles.css"/>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <script>
        // Retrieves a state, and a redirect URI
        const state = '<%= state %>';
        const callbackUri = '<%= callbackUri %>';

        // Retrieves a location hash string
        const locationHash = window.location.hash;

        // Build a query params string
        const queryParams = '?state=' + state + locationHash.replace('#', '&');

        // Creates a valid request URI
        const redirectUri = callbackUri + queryParams;
    </script>
</head>
<body>
    <div id="appRoot">
        <div id="requestStatus">Processing...</div>
    </div>
    <script type="text/javascript" src="/scripts.js"></script>
</body>
</html>